<div class="chat-box">
    <div class="chat-header">
        <h2>Global</h2>
        <div class="dropdown">
            <span id="options-btn" class="options-btn" title="Options">&#8230;</span>
            <div id="dropdown-menu" class="dropdown-menu">
                <li id="option_chatClear">Clear chat</li>
                <!-- <a href="#">Option 2</a>
                <a href="#">Option 3</a> -->
            </div>
        </div> 
    </div>
    <div class="message-container" id="message-container">
        

    </div>
    <form class="input-form" id="input-form">
        <input type="text" id="chat" autocomplete="off" placeholder="Type a message...">
        <button id="say">Send</button>
    </form>
</div>