<div class="center">
    <button class="host-game">Host a Game</button>
    <ul class="gamelist">
        <!-- <li>
            <div class="gamelist-item">
                <div class="gamelist-username">Username 1</div>
                <button class="gamelist-join">Join</button>
                <div class="gamelist-placeholder">Placeholder 1</div>
                <span class="undo-icon">&times;</span>
            </div>
        </li>
        <li>
            <div class="gamelist-item">
                <div class="gamelist-username">Username 2</div>
                <button class="gamelist-join">Join</button>
                <div class="gamelist-placeholder">Placeholder 1</div>
                <span class="undo-icon">&times;</span>
            </div>
        </li> -->
    </ul>
</div>